```python
List: An ordered, mutable collection that allows duplicate elements.

Tuple: An ordered, immutable collection that allows duplicate elements.

Set: An unordered, mutable collection that does not allow duplicate elements.

Mutable - Can be modified after creation
immutable - Cannot be modified after creation

```

### Lists

In [1]:
courses = ['history', 'math', 'physics', 'compsci']

print(courses)

['history', 'math', 'physics', 'compsci']

In [2]:
print(len(courses))

4

In [6]:
print(courses[0])
print(courses[0:2])
print(courses[-1])
print(courses[::-1])

history
['history', 'math']
compsci
['compsci', 'physics', 'math', 'history']

```python
List Methods
```

In [7]:
courses.append('Art') #Adds string at the end
print(courses)

['history', 'math', 'physics', 'compsci', 'Art']

In [8]:
courses.insert(0, 'Art') #To add string at any index position
print(courses)

['Art', 'history', 'math', 'physics', 'compsci', 'Art']

In [10]:
courses_2 = ['Chemistry', 'Machine Learning']
courses.insert(2, courses_2)
print(courses)
print(courses[2])

['Art', 'history', ['Chemistry', 'Machine Learning'], ['Chemistry', 'Machine Learning'], 'math', 'physics', 'compsci', 'Art']
['Chemistry', 'Machine Learning']

In [11]:
courses = ['history', 'math', 'physics', 'compsci']
courses_2 = ['Art', 'Education']

courses.extend(courses_2)
print(courses)

['history', 'math', 'physics', 'compsci', 'Art', 'Education']

In [12]:
courses.remove('math')
print(courses)

['history', 'physics', 'compsci', 'Art', 'Education']

In [14]:
courses.pop()
print(courses)

['history', 'physics', 'compsci']

```python
Sorting
```

In [15]:
courses = ['History', 'Math', 'Physics', 'Compsci']
courses.reverse() #reversing list
print(courses)

['Compsci', 'Physics', 'Math', 'History']

In [16]:
courses.sort()
print(courses)

['Compsci', 'History', 'Math', 'Physics']

In [17]:
nums = [1,5,2,4,3]
nums.sort()
print(nums) #sorts in ASC order

[1, 2, 3, 4, 5]

In [18]:
nums.sort(reverse=True)
print(nums) #sorts in DESC order

[5, 4, 3, 2, 1]

In [20]:
courses = ['History', 'Math', 'Compsci', 'Physics']
sorted_courses = sorted(courses) #it does not alter the original
print(sorted_courses)

['Compsci', 'History', 'Math', 'Physics']

In [25]:
print(min(nums))
print(max(nums))
print(sum(nums))

1
5
15

In [26]:
print(courses.index('Physics'))

3

In [28]:
print('Art' in courses)
print('Math' in courses)

False
True

In [36]:
for item in courses:
    print(item)

History
Math
Compsci
Physics

In [38]:
for index, course in enumerate(courses, start=1):
    print(index, course)

1 History
2 Math
3 Compsci
4 Physics

In [39]:
course_str = ', '.join(courses)
print(course_str)

History, Math, Compsci, Physics

In [40]:
new_list = course_str.split(', ')
print(new_list)

['History', 'Math', 'Compsci', 'Physics']

```python
Tuples
```

In [41]:
tuple_1 = ('History', 'Math', 'Physics', 'Compsci')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

('History', 'Math', 'Physics', 'Compsci')
('History', 'Math', 'Physics', 'Compsci')

In [42]:
tuple_1[0] = 'Art'
print(tuple_1)  #cannot modify values

TypeError: 'tuple' object does not support item assignment

```python
Sets
```

In [43]:
cs_courses = {'History', 'Math', 'Physics', 'Compsci'}
print(cs_courses) #unordered

{'Math', 'History', 'Physics', 'Compsci'}

In [44]:
cs_courses = {'History', 'Math', 'Physcis', 'Compsci', 'Math'}
print(cs_courses) #no duplicates

{'Math', 'History', 'Physcis', 'Compsci'}

In [45]:
print('Math' in cs_courses)

True

In [47]:
art_courses = {'History', 'Math', 'Art', 'Design'}

In [48]:
print(cs_courses.intersection(art_courses)) #common courses

{'Math', 'History'}

In [49]:
print(cs_courses.difference(art_courses))

{'Physcis', 'Compsci'}

In [50]:
print(cs_courses.union(art_courses))

{'Compsci', 'Art', 'Math', 'History', 'Physcis', 'Design'}

In [51]:
#creating empty lists
empty_list = []
empty_list = list()

In [52]:
#creating empty tuples
empty_tuple = ()
empty_tuple = tuple()

In [53]:
#creating empty sets
empty_set = {} #This doesnt work. THis is empty dictionary
empty_set = set() #This works